{
  "semi": false,
  "tabWidth": 2,
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss", "@prettier/plugin-xml"],
  "tailwindStylesheet": "./src/tailwind.css",
  "tailwindFunctions": ["clsx", "cn", "tw", "cva", "twMerge"],
  "$schema": "https://json.schemastore.org/prettierrc"
}
