@import '@screen-geometry-app/tailwind/theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* remove annoying up/down buttons in number inputs */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    @apply appearance-none m-0;
  }
  input[type='number'] {
    appearance: textfield; /* Firefox */
  }

  /*
  html {
    @apply bg-background text-foreground;
  }

  ::selection {
    @apply bg-primary text-primary-foreground;
  }
  */
}

::selection {
  color: hsl(var(--primary-foreground));
  background: hsl(var(--primary));
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

html {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
