@import 'tailwindcss';

@theme inline {
  --color-mono-50: var(--mono-50);
  --color-mono-100: var(--mono-100);
  --color-mono-200: var(--mono-200);
  --color-mono-300: var(--mono-300);
  --color-mono-400: var(--mono-400);
  --color-mono-500: var(--mono-500);
  --color-mono-600: var(--mono-600);
  --color-mono-700: var(--mono-700);
  --color-mono-800: var(--mono-800);
  --color-mono-900: var(--mono-900);
  --color-mono-950: var(--mono-950);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);

  --color-info-50: var(--info-50);
  --color-info-100: var(--info-100);
  --color-info-200: var(--info-200);
  --color-info-300: var(--info-300);
  --color-info-400: var(--info-400);
  --color-info-500: var(--info-500);
  --color-info-600: var(--info-600);
  --color-info-700: var(--info-700);
  --color-info-800: var(--info-800);
  --color-info-900: var(--info-900);
  --color-info-950: var(--info-950);

  --color-warning-50: var(--warning-50);
  --color-warning-100: var(--warning-100);
  --color-warning-200: var(--warning-200);
  --color-warning-300: var(--warning-300);
  --color-warning-400: var(--warning-400);
  --color-warning-500: var(--warning-500);
  --color-warning-600: var(--warning-600);
  --color-warning-700: var(--warning-700);
  --color-warning-800: var(--warning-800);
  --color-warning-900: var(--warning-900);
  --color-warning-950: var(--warning-950);

  --color-success-50: var(--success-50);
  --color-success-100: var(--success-100);
  --color-success-200: var(--success-200);
  --color-success-300: var(--success-300);
  --color-success-400: var(--success-400);
  --color-success-500: var(--success-500);
  --color-success-600: var(--success-600);
  --color-success-700: var(--success-700);
  --color-success-800: var(--success-800);
  --color-success-900: var(--success-900);
  --color-success-950: var(--success-950);

  --color-danger-50: var(--danger-50);
  --color-danger-100: var(--danger-100);
  --color-danger-200: var(--danger-200);
  --color-danger-300: var(--danger-300);
  --color-danger-400: var(--danger-400);
  --color-danger-500: var(--danger-500);
  --color-danger-600: var(--danger-600);
  --color-danger-700: var(--danger-700);
  --color-danger-800: var(--danger-800);
  --color-danger-900: var(--danger-900);
  --color-danger-950: var(--danger-950);
}

@layer base {
  :root {
    /* Shark */
    /* --mono-50: var(--color-neutral-50);
    --mono-100: var(--color-neutral-100);
    --mono-200: var(--color-neutral-200);
    --mono-300: var(--color-neutral-300);
    --mono-400: var(--color-neutral-400);
    --mono-500: var(--color-neutral-500);
    --mono-600: var(--color-neutral-600);
    --mono-700: var(--color-neutral-700);
    --mono-800: var(--color-neutral-800);
    --mono-900: var(--color-neutral-900);
    --mono-950: var(--color-neutral-950); */
    --mono-50: hsl(180 5% 96%);
    --mono-100: hsl(180 6% 90%);
    --mono-200: hsl(192 5% 82%);
    --mono-300: hsl(188 5% 69%);
    --mono-400: hsl(186 4% 53%);
    --mono-500: hsl(195 6% 43%);
    --mono-600: hsl(192 5% 36%);
    --mono-700: hsl(190 4% 31%);
    --mono-800: hsl(200 4% 27%);
    --mono-900: hsl(204 4% 24%);
    --mono-950: hsl(200 4% 14%);

    /* Medium Purple */
    /* --primary-50: var(--color-purple-50);
    --primary-100: var(--color-purple-100);
    --primary-200: var(--color-purple-200);
    --primary-300: var(--color-purple-300);
    --primary-400: var(--color-purple-400);
    --primary-500: var(--color-purple-500);
    --primary-600: var(--color-purple-600);
    --primary-700: var(--color-purple-700);
    --primary-800: var(--color-purple-800);
    --primary-900: var(--color-purple-900);
    --primary-950: var(--color-purple-950); */
    --primary-50: hsl(264 100% 98%);
    --primary-100: hsl(262 100% 97%);
    --primary-200: hsl(262 100% 92%);
    --primary-300: hsl(263 100% 85%);
    --primary-400: hsl(263 100% 75%);
    --primary-500: hsl(264 95% 68%);
    --primary-600: hsl(265 85% 56%);
    --primary-700: hsl(265 75% 47%);
    --primary-800: hsl(266 70% 39%);
    --primary-900: hsl(267 68% 32%);
    --primary-950: hsl(267 91% 21%);

    /* Curious Blue */
    /* --info-50: var(--color-sky-50);
    --info-100: var(--color-sky-100);
    --info-200: var(--color-sky-200);
    --info-300: var(--color-sky-300);
    --info-400: var(--color-sky-400);
    --info-500: var(--color-sky-500);
    --info-600: var(--color-sky-600);
    --info-700: var(--color-sky-700);
    --info-800: var(--color-sky-800);
    --info-900: var(--color-sky-900);
    --info-950: var(--color-sky-950); */
    --info-50: hsl(203 87% 97%);
    --info-100: hsl(205 75% 94%);
    --info-200: hsl(200 75% 86%);
    --info-300: hsl(199 76% 74%);
    --info-400: hsl(198 75% 60%);
    --info-500: hsl(199 71% 45%);
    --info-600: hsl(200 79% 39%);
    --info-700: hsl(201 77% 32%);
    --info-800: hsl(201 73% 27%);
    --info-900: hsl(202 64% 24%);
    --info-950: hsl(204 65% 16%);

    /* Orange */
    /* --warning-50: var(--color-amber-50);
    --warning-100: var(--color-amber-100);
    --warning-200: var(--color-amber-200);
    --warning-300: var(--color-amber-300);
    --warning-400: var(--color-amber-400);
    --warning-500: var(--color-amber-500);
    --warning-600: var(--color-amber-600);
    --warning-700: var(--color-amber-700);
    --warning-800: var(--color-amber-800);
    --warning-900: var(--color-amber-900);
    --warning-950: var(--color-amber-950); */
    --warning-50: hsl(48 100% 96%);
    --warning-100: hsl(48 96% 89%);
    --warning-200: hsl(48 97% 77%);
    --warning-300: hsl(46 97% 65%);
    --warning-400: hsl(43 96% 56%);
    --warning-500: hsl(38 92% 50%);
    --warning-600: hsl(32 95% 44%);
    --warning-700: hsl(26 90% 37%);
    --warning-800: hsl(23 83% 31%);
    --warning-900: hsl(22 78% 26%);
    --warning-950: hsl(21 92% 14%);

    /* Pastel Green */
    /* --success-50: var(--color-lime-50);
    --success-100: var(--color-lime-100);
    --success-200: var(--color-lime-200);
    --success-300: var(--color-lime-300);
    --success-400: var(--color-lime-400);
    --success-500: var(--color-lime-500);
    --success-600: var(--color-lime-600);
    --success-700: var(--color-lime-700);
    --success-800: var(--color-lime-800);
    --success-900: var(--color-lime-900);
    --success-950: var(--color-lime-950); */
    --success-50: hsl(104 65% 97%);
    --success-100: hsl(102 68% 93%);
    --success-200: hsl(103 63% 85%);
    --success-300: hsl(104 61% 66%);
    --success-400: hsl(104 55% 58%);
    --success-500: hsl(104 56% 45%);
    --success-600: hsl(104 61% 36%);
    --success-700: hsl(104 57% 29%);
    --success-800: hsl(105 51% 24%);
    --success-900: hsl(106 50% 20%);
    --success-950: hsl(107 65% 10%);

    /* Coral Red */
    /* --danger-50: var(--color-red-50);
    --danger-100: var(--color-red-100);
    --danger-200: var(--color-red-200);
    --danger-300: var(--color-red-300);
    --danger-400: var(--color-red-400);
    --danger-500: var(--color-red-500);
    --danger-600: var(--color-red-600);
    --danger-700: var(--color-red-700);
    --danger-800: var(--color-red-800);
    --danger-900: var(--color-red-900);
    --danger-950: var(--color-red-950); */
    --danger-50: hsl(0 86% 97%);
    --danger-100: hsl(0 93% 94%);
    --danger-200: hsl(0 96% 89%);
    --danger-300: hsl(0 94% 82%);
    --danger-400: hsl(0 91% 71%);
    --danger-500: hsl(0 84% 60%);
    --danger-600: hsl(0 72% 51%);
    --danger-700: hsl(0 74% 42%);
    --danger-800: hsl(0 70% 35%);
    --danger-900: hsl(0 63% 31%);
    --danger-950: hsl(0 75% 15%);
  }
}
