@import 'tailwindcss';
@import 'tw-animate-css';

@import './palette.css';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant dark (&:is(.dark *));

@custom-variant hocus (&:hover, &:focus-visible);

@theme inline {
  /* ShadCN */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-foreground-muted: var(--foreground-muted);

  --color-card: var(--card);
  --color-card-border: var(--card-border);
  --color-card-border-hover: var(--card-border-hover);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-hover: var(--popover-hover);
  --color-popover-active: var(--popover-active);
  --color-popover-border: var(--popover-border);
  --color-popover-border-hover: var(--popover-border-hover);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover-foreground-hover: var(--popover-foreground-hover);
  --color-popover-foreground-active: var(--popover-foreground-active);

  --color-header: var(--header);
  --color-header-hover: var(--header-hover);
  --color-header-active: var(--header-active);
  --color-header-foreground: var(--header-foreground);
  --color-header-foreground-hover: var(---header-foreground-hover);
  --color-header-foreground-active: var(--header-foreground-active);

  --color-primary: var(--primary);
  --color-primary-active: var(--primary-active);
  --color-primary-hover: var(--primary-hover);
  --color-primary-muted: var(--primary-muted);
  --color-primary-ring: var(--primary-ring);
  --color-primary-input: var(--primary-input);
  --color-primary-label: var(--primary-label);
  --color-primary-border: var(--primary-border);
  --color-primary-border-hover: var(--primary-border-hover);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-foreground-active: var(--primary-foreground-active);
  --color-primary-foreground-hover: var(--primary-foreground-hover);
  --color-primary-foreground-muted: var(--primary-foreground-muted);
  --color-primary-foreground-input: var(--primary-foreground-input);
  --color-primary-foreground-input-hover: var(--primary-foreground-input-hover);
  --color-primary-foreground-input-muted: var(--primary-foreground-input-muted);

  --color-secondary: var(--secondary);
  --color-secondary-active: var(--secondary-active);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-muted: var(--secondary-muted);
  --color-secondary-ring: var(--secondary-ring);
  --color-secondary-input: var(--secondary-input);
  --color-secondary-label: var(--secondary-label);
  --color-secondary-border: var(--secondary-border);
  --color-secondary-border-hover: var(--secondary-border-hover);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-foreground-active: var(--secondary-foreground-active);
  --color-secondary-foreground-hover: var(--secondary-foreground-hover);
  --color-secondary-foreground-muted: var(--secondary-foreground-muted);
  --color-secondary-foreground-input: var(--secondary-foreground-input);
  --color-secondary-foreground-input-hover: var(--secondary-foreground-input-hover);
  --color-secondary-foreground-input-muted: var(--secondary-foreground-input-muted);

  --color-navigation: var(--navigation);
  --color-navigation-active: var(--navigation-active);
  --color-navigation-hover: var(--navigation-hover);
  --color-navigation-muted: var(--navigation-muted);
  --color-navigation-ring: var(--navigation-ring);
  --color-navigation-input: var(--navigation-input);
  --color-navigation-label: var(--navigation-label);
  --color-navigation-border: var(--navigation-border);
  --color-navigation-border-hover: var(--navigation-border-hover);
  --color-navigation-foreground: var(--navigation-foreground);
  --color-navigation-foreground-active: var(--navigation-foreground-active);
  --color-navigation-foreground-hover: var(--navigation-foreground-hover);
  --color-navigation-foreground-muted: var(--navigation-foreground-muted);
  --color-navigation-foreground-input: var(--navigation-foreground-input);
  --color-navigation-foreground-input-hover: var(--navigation-foreground-input-hover);
  --color-navigation-foreground-input-muted: var(--navigation-foreground-input-muted);

  --color-mono: var(--mono);
  --color-mono-active: var(--mono-active);
  --color-mono-hover: var(--mono-hover);
  --color-mono-muted: var(--mono-muted);
  --color-mono-ring: var(--mono-ring);
  --color-mono-input: var(--mono-input);
  --color-mono-label: var(--mono-label);
  --color-mono-border: var(--mono-border);
  --color-mono-border-hover: var(--mono-border-hover);
  --color-mono-foreground: var(--mono-foreground);
  --color-mono-foreground-active: var(--mono-foreground-active);
  --color-mono-foreground-hover: var(--mono-foreground-hover);
  --color-mono-foreground-muted: var(--mono-foreground-muted);
  --color-mono-foreground-input: var(--mono-foreground-input);
  --color-mono-foreground-input-hover: var(--mono-foreground-input-hover);
  --color-mono-foreground-input-muted: var(--mono-foreground-input-muted);

  --color-danger: var(--danger);
  --color-danger-active: var(--danger-active);
  --color-danger-hover: var(--danger-hover);
  --color-danger-muted: var(--danger-muted);
  --color-danger-ring: var(--danger-ring);
  --color-danger-input: var(--danger-input);
  --color-danger-label: var(--danger-label);
  --color-danger-border: var(--danger-border);
  --color-danger-border-hover: var(--danger-border-hover);
  --color-danger-foreground: var(--danger-foreground);
  --color-danger-foreground-active: var(--danger-foreground-active);
  --color-danger-foreground-hover: var(--danger-foreground-hover);
  --color-danger-foreground-muted: var(--danger-foreground-muted: );
  --color-danger-foreground-input: var(--danger-foreground-input);
  --color-danger-foreground-input-hover: var(--danger-foreground-input-hover);
  --color-danger-foreground-input-muted: var(--danger-foreground-input-muted);

  --color-info: var(--info);
  --color-info-active: var(--info-active);
  --color-info-hover: var(--info-hover);
  --color-info-muted: var(--info-muted);
  --color-info-ring: var(--info-ring);
  --color-info-input: var(--info-input);
  --color-info-label: var(--info-label);
  --color-info-border: var(--info-border);
  --color-info-border-hover: var(--info-border-hover);
  --color-info-foreground: var(--info-foreground);
  --color-info-foreground-active: var(--info-foreground-active);
  --color-info-foreground-hover: var(--info-foreground-hover);
  --color-info-foreground-muted: var(--info-foreground-muted);
  --color-info-foreground-input: var(--info-foreground-input);
  --color-info-foreground-input-hover: var(--info-foreground-input-hover);
  --color-info-foreground-input-muted: var(--info-foreground-input-muted);

  --color-success: var(--success);
  --color-success-active: var(--success-active);
  --color-success-hover: var(--success-hover);
  --color-success-muted: var(--success-muted);
  --color-success-ring: var(--success-ring);
  --color-success-input: var(--success-input);
  --color-success-label: var(--success-label);
  --color-success-border: var(--success-border);
  --color-success-border-hover: var(--success-border-hover);
  --color-success-foreground: var(--success-foreground);
  --color-success-foreground-active: var(--success-foreground-active);
  --color-success-foreground-hover: var(--success-foreground-hover);
  --color-success-foreground-muted: var(--success-foreground-muted);
  --color-success-foreground-input: var(--success-foreground-input);
  --color-success-foreground-input-hover: var(--success-foreground-input-hover);
  --color-success-foreground-input-muted: var(--success-foreground-input-muted);

  --color-warning: var(--warning);
  --color-warning-active: var(--warning-active);
  --color-warning-hover: var(--warning-hover);
  --color-warning-muted: var(--warning-muted);
  --color-warning-ring: var(--warning-ring);
  --color-warning-input: var(--warning-input);
  --color-warning-label: var(--warning-label);
  --color-warning-border: var(--warning-border);
  --color-warning-border-hover: var(--warning-border-hover);
  --color-warning-foreground: var(--warning-foreground);
  --color-warning-foreground-active: var(--warning-foreground-active);
  --color-warning-foreground-hover: var(--warning-foreground-hover);
  --color-warning-foreground-muted: var(--warning-foreground-muted);
  --color-warning-foreground-input: var(--warning-foreground-input);
  --color-warning-foreground-input-hover: var(--warning-foreground-input-hover);
  --color-warning-foreground-input-muted: var(--warning-foreground-input-muted);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

@layer base {
  /* remove annoying up/down buttons in number inputs */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    @apply m-0 appearance-none;
  }
  input[type='number'] {
    appearance: textfield; /* Firefox */
  }
  ::selection {
    color: var(--primary-foreground);
    background: var(--primary);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  :root {
    --background: var(--mono-50);
    --foreground: var(--mono-950);
    --muted: var(--mono-200);
    --foreground-muted: var(--mono-500);

    --card: var(--mono-100);
    --card-border: var(--mono-200);
    --card-border-hover: var(--mono-300);
    --card-foreground: var(--mono-800);

    --popover: var(--mono-100);
    --popover-hover: var(--mono-500);
    --popover-active: var(--mono-500);
    --popover-border: var(--primary-200);
    --popover-border-hover: var(--primary-300);
    --popover-foreground: var(--primary-900);
    --popover-foreground-hover: var(--primary-100);
    --popover-foreground-active: var(--primary-100);

    --header: var(--primary-600);
    --header-hover: var(--primary-400);
    --header-active: var(--primary-400);
    --header-foreground: var(--primary-200);
    --header-foreground-hover: var(--primary-100);
    --header-foreground-active: var(--primary-100);

    --primary: var(--primary-600);
    --primary-active: var(--primary-300);
    --primary-hover: var(--primary-500);
    --primary-muted: var(--primary-200);
    --primary-ring: var(--primary-400);
    --primary-input: var(--primary-50);
    --primary-label: var(--primary-600);
    --primary-border: var(--primary-400);
    --primary-border-hover: var(--primary-600);
    --primary-foreground: var(--primary-100);
    --primary-foreground-active: var(--primary-950);
    --primary-foreground-hover: var(--primary-50);
    --primary-foreground-muted: var(--primary-400);
    --primary-foreground-input: var(--primary-800);
    --primary-foreground-input-hover: var(--primary-900);
    --primary-foreground-input-muted: var(--primary-500);

    --secondary: var(--primary-950);
    --secondary-active: var(--primary-200);
    --secondary-hover: var(--primary-800);
    --secondary-muted: var(--primary-400);
    --secondary-ring: var(--primary-700);
    --secondary-input: var(--primary-200);
    --secondary-label: var(--primary-700);
    --secondary-border: var(--primary-700);
    --secondary-border-hover: var(--primary-800);
    --secondary-foreground: var(--primary-200);
    --secondary-foreground-active: var(--primary-800);
    --secondary-foreground-hover: var(--primary-100);
    --secondary-foreground-muted: var(--primary-800);
    --secondary-foreground-input: var(--primary-950);
    --secondary-foreground-input-hover: var(--primary-800);
    --secondary-foreground-input-muted: var(--primary-500);

    --navigation: var(--primary-200);
    --navigation-active: var(--primary-800);
    --navigation-hover: var(--primary-100);
    --navigation-muted: var(--primary-800);
    --navigation-ring: var(--primary-300);
    --navigation-input: var(--primary-950);
    --navigation-label: var(--primary-200);
    --navigation-border: var(--primary-300);
    --navigation-border-hover: var(--primary-200);
    --navigation-foreground: var(--primary-950);
    --navigation-foreground-active: var(--primary-50);
    --navigation-foreground-hover: var(--primary-800);
    --navigation-foreground-muted: var(--primary-400);
    --navigation-foreground-input: var(--primary-200);
    --navigation-foreground-input-hover: var(--primary-100);
    --navigation-foreground-input-muted: var(--primary-400);

    --mono: var(--mono-600);
    --mono-active: var(--mono-300);
    --mono-hover: var(--mono-500);
    --mono-muted: var(--mono-200);
    --mono-ring: var(--mono-400);
    --mono-input: var(--mono-50);
    --mono-label: var(--mono-600);
    --mono-border: var(--mono-400);
    --mono-border-hover: var(--mono-600);
    --mono-foreground: var(--mono-100);
    --mono-foreground-active: var(--mono-950);
    --mono-foreground-hover: var(--mono-50);
    --mono-foreground-muted: var(--mono-400);
    --mono-foreground-input: var(--mono-800);
    --mono-foreground-input-hover: var(--mono-900);
    --mono-foreground-input-muted: var(--mono-500);

    --danger: var(--danger-600);
    --danger-active: var(--danger-300);
    --danger-hover: var(--danger-500);
    --danger-muted: var(--danger-200);
    --danger-ring: var(--danger-400);
    --danger-input: var(--danger-50);
    --danger-label: var(--danger-600);
    --danger-border: var(--danger-400);
    --danger-border-hover: var(--danger-600);
    --danger-foreground: var(--danger-100);
    --danger-foreground-active: var(--danger-950);
    --danger-foreground-hover: var(--danger-50);
    --danger-foreground-muted: var(--danger-400);
    --danger-foreground-input: var(--danger-800);
    --danger-foreground-input-hover: var(--danger-900);
    --danger-foreground-input-muted: var(--danger-500);

    --info: var(--info-600);
    --info-active: var(--info-300);
    --info-hover: var(--info-500);
    --info-muted: var(--info-200);
    --info-ring: var(--info-400);
    --info-input: var(--info-50);
    --info-label: var(--info-600);
    --info-border: var(--info-400);
    --info-border-hover: var(--info-600);
    --info-foreground: var(--info-100);
    --info-foreground-active: var(--info-950);
    --info-foreground-hover: var(--info-50);
    --info-foreground-muted: var(--info-400);
    --info-foreground-input: var(--info-800);
    --info-foreground-input-hover: var(--info-900);
    --info-foreground-input-muted: var(--info-500);

    --success: var(--success-600);
    --success-active: var(--success-300);
    --success-hover: var(--success-500);
    --success-muted: var(--success-200);
    --success-ring: var(--success-400);
    --success-input: var(--success-50);
    --success-label: var(--success-600);
    --success-border: var(--success-400);
    --success-border-hover: var(--success-600);
    --success-foreground: var(--success-100);
    --success-foreground-active: var(--success-950);
    --success-foreground-hover: var(--success-50);
    --success-foreground-muted: var(--success-400);
    --success-foreground-input: var(--success-800);
    --success-foreground-input-hover: var(--success-900);
    --success-foreground-input-muted: var(--success-500);

    --warning: var(--warning-600);
    --warning-active: var(--warning-300);
    --warning-hover: var(--warning-500);
    --warning-muted: var(--warning-200);
    --warning-ring: var(--warning-400);
    --warning-input: var(--warning-50);
    --warning-label: var(--warning-600);
    --warning-border: var(--warning-400);
    --warning-border-hover: var(--warning-600);
    --warning-foreground: var(--warning-100);
    --warning-foreground-active: var(--warning-950);
    --warning-foreground-hover: var(--warning-50);
    --warning-foreground-muted: var(--warning-400);
    --warning-foreground-input: var(--warning-800);
    --warning-foreground-input-hover: var(--warning-900);
    --warning-foreground-input-muted: var(--warning-500);

    --chart-1: var(--info-500);
    --chart-2: var(--info-600);
    --chart-3: var(--info-700);
    --chart-4: var(--info-800);
    --chart-5: var(--info-900);

    --radius: 0.5rem;
    --ring-offset: 4px;
  }

  .dark {
    --background: var(--mono-950);
    --foreground: var(--mono-50);
    --muted: var(--mono-800);
    --foreground-muted: var(--mono-300);

    --card: var(--mono-800);
    --card-border: var(--mono-700);
    --card-border-hover: var(--mono-600);
    --card-foreground: var(--mono-200);

    --popover: var(--mono-900);
    --popover-hover: var(--mono-500);
    --popover-border: var(--primary-700);
    --popover-border-hover: var(--primary-600);
    --popover-active: var(--mono-500);
    --popover-foreground: var(--primary-100);
    --popover-foreground-hover: var(--primary-50);
    --popover-foreground-active: var(--primary-50);

    --primary-label: var(--primary-400);
    --primary-input: var(--primary-950);
    --primary-foreground-input: var(--primary-200);
    --primary-foreground-input-hover: var(--primary-100);

    --secondary-label: var(--primary-200);
    --secondary-input: var(--primary-50);
    --secondary-foreground-input: var(--primary-800);
    --secondary-foreground-input-hover: var(--primary-900);

    --mono-label: var(--mono-300);
    --mono-input: var(--mono-950);
    --mono-foreground-input: var(--mono-200);
    --mono-foreground-input-hover: var(--mono-100);

    --danger-label: var(--danger-400);

    --success-label: var(--success-400);

    --warning-label: var(--warning-400);
  }
}
