@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* remove annoying up/down buttons in number inputs */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    @apply appearance-none m-0;
  }
  input[type='number'] {
    appearance: textfield; /* Firefox */
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  
  :root {
    --radius: 0.5rem;
  }
}

@layer components {
}

:root  {
  --background: 262.1 0% 100%;
  --foreground: 262.1 0% 10%;
  --card: 262.1 0% 100%;
  --card-foreground: 262.1 0% 15%;
  --popover: 262.1 0% 100%;
  --popover-foreground: 262.1 95% 10%;
  --primary: 262.1 88.3% 57.8%;
  --primary-foreground: 0 0% 100%;
  --secondary: 262.1 10% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 224.10000000000002 10% 95%;
  --muted-foreground: 262.1 0% 40%;
  --accent: 224.10000000000002 10% 90%;
  --accent-foreground: 262.1 0% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 262.1 0% 100%;
  --border: 262.1 20% 82%;
  --input: 262.1 20% 50%;
  --ring: 262.1 88.3% 57.8%;
  --radius: 0.5rem;
}
.dark  {
  --background: 262.1 10% 10%;
  --foreground: 262.1 0% 100%;
  --card: 262.1 0% 10%;
  --card-foreground: 262.1 0% 100%;
  --popover: 262.1 10% 5%;
  --popover-foreground: 262.1 0% 100%;
  --primary: 262.1 88.3% 57.8%;
  --primary-foreground: 0 0% 100%;
  --secondary: 262.1 10% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 224.10000000000002 10% 25%;
  --muted-foreground: 262.1 0% 65%;
  --accent: 224.10000000000002 10% 25%;
  --accent-foreground: 262.1 0% 95%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 262.1 0% 100%;
  --border: 262.1 20% 50%;
  --input: 262.1 20% 50%;
  --ring: 262.1 88.3% 57.8%;
  --radius: 0.5rem;
}
