@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* remove annoying up/down buttons in number inputs */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    @apply appearance-none m-0;
  }
  input[type='number'] {
    appearance: textfield; /* Firefox */
  }

  /* html {
    @apply bg-background text-foreground;
  }

  ::selection {
    @apply bg-primary text-primary-foreground;
  } */
}

:root {
  /* Mine Shaft */
  /*
  --mono-50: 30 8% 95%;
  --mono-100: 48 8% 88%;
  --mono-200: 36 8% 77%;
  --mono-300: 38 9% 64%;
  --mono-400: 31 9% 53%;
  --mono-500: 30 8% 47%;
  --mono-600: 23 9% 40%;
  --mono-700: 17 8% 33%;
  --mono-800: 16 7% 29%;
  --mono-900: 13 7% 26%;
  --mono-950: 10 8% 15%;
  */

  /* Shark */
  --mono-50: 180 5% 96%;
  --mono-100: 180 6% 90%;
  --mono-200: 192 5% 82%;
  --mono-300: 188 5% 69%;
  --mono-400: 186 4% 53%;
  --mono-500: 195 6% 43%;
  --mono-600: 192 5% 36%;
  --mono-700: 190 4% 31%;
  --mono-800: 200 4% 27%;
  --mono-900: 204 4% 24%;
  --mono-950: 200 4% 14%;

  /* Medium Purple */
  --primary-50: 264 100% 98%;
  --primary-100: 264 100% 98%;
  --primary-200: 262 100% 92%;
  --primary-300: 263 100% 85%;
  --primary-400: 263 100% 75%;
  --primary-500: 264 95% 68%;
  --primary-600: 265 85% 56%;
  --primary-700: 265 75% 47%;
  --primary-800: 266 70% 39%;
  --primary-900: 267 68% 32%;
  --primary-950: 267 91% 21%;

  /* California */
  --warning-50: 48 100% 96%;
  --warning-100: 48 96% 89%;
  --warning-200: 48 97% 77%;
  --warning-300: 46 97% 65%;
  --warning-400: 43 96% 56%;
  --warning-500: 38 92% 50%;
  --warning-600: 32 95% 44%;
  --warning-700: 26 90% 37%;
  --warning-800: 23 83% 31%;
  --warning-900: 22 78% 26%;
  --warning-950: 21 92% 14%;

  /* Atlantis */
  --success-50: 78 92% 95%;
  --success-100: 80 89% 89%;
  --success-200: 81 88% 80%;
  --success-300: 82 85% 67%;
  --success-400: 83 78% 55%;
  --success-500: 84 81% 44%;
  --success-600: 85 85% 35%;
  --success-700: 86 78% 27%;
  --success-800: 86 69% 23%;
  --success-900: 88 61% 20%;
  --success-950: 89 80% 10%;

  /* Coral Red */
  --danger-50: 0 86% 97%;
  --danger-100: 0 93% 94%;
  --danger-200: 0 96% 89%;
  --danger-300: 0 94% 82%;
  --danger-400: 0 91% 71%;
  --danger-500: 0 84% 60%;
  --danger-600: 0 72% 51%;
  --danger-700: 0 74% 42%;
  --danger-800: 0 70% 35%;
  --danger-900: 0 63% 31%;
  --danger-950: 0 75% 15%;

  --radius: 0.5rem;
  --ring-offset: 4px;

  --background: var(--mono-50);
  --foreground: var(--mono-950);
  --muted: var(--mono-800);
  --muted-foreground: var(--mono-500);

  --card: var(--primary-300);
  --card-hover: var(--primary-400);
  --card-active: var(--primary-400);
  --card-foreground: var(--primary-800);
  --card-foreground-hover: var(--primary-900);
  --card-foreground-active: var(--primary-900);

  --popover: var(--mono-100);
  --popover-hover: var(--mono-200);
  --popover-active: var(--mono-200);
  --popover-foreground: var(--mono-800);
  --popover-foreground-hover: var(--mono-900);
  --popover-foreground-active: var(--mono-900);

  --primary: var(--primary-600);
  --primary-active: var(--primary-800);
  --primary-hover: var(--primary-700);
  --primary-muted: var(--primary-200);
  --primary-ring: var(--primary-400);
  --primary-border: var(--primary-400);
  --primary-border-hover: var(--primary-600);
  --primary-input: var(--primary-50);
  --primary-input-hover: var(--primary-100);
  --primary-foreground: var(--primary-50);
  --primary-foreground-active: var(--primary-100);
  --primary-foreground-hover: var(--primary-100);
  --primary-foreground-muted: var(--primary-400);
  --primary-foreground-input: var(--primary-800);
  --primary-foreground-input-hover: var(--primary-900);

  --secondary: var(--primary-50);
  --secondary-active: var(--primary-500);
  --secondary-hover: var(--primary-200);
  --secondary-muted: var(--primary-200);
  --secondary-ring: var(--primary-500);
  --secondary-input: var(--primary-50);
  --secondary-border: var(--primary-400);
  --secondary-border-hover: var(--primary-800);
  --secondary-foreground: var(--primary-800);
  --secondary-foreground-active: var(--primary-25);
  --secondary-foreground-hover: var(--primary-800);
  --secondary-foreground-muted: var(--primary-400);
  --secondary-foreground-input: var(--primary-500);
  --secondary-foreground-input-hover: var(--primary-600);

  --mono: var(--mono-600);
  --mono-active: var(--mono-800);
  --mono-hover: var(--mono-700);
  --mono-muted: var(--mono-200);
  --mono-ring: var(--mono-400);
  --mono-input: var(--mono-50);
  --mono-border: var(--mono-400);
  --mono-border-hover: var(--mono-600);
  --mono-foreground: var(--mono-50);
  --mono-foreground-active: var(--mono-100);
  --mono-foreground-hover: var(--mono-100);
  --mono-foreground-muted: var(--mono-400);
  --mono-foreground-input: var(--mono-800);
  --mono-foreground-input-hover: var(--mono-900);

  --danger: var(--danger-600);
  --danger-active: var(--danger-800);
  --danger-hover: var(--danger-700);
  --danger-muted: var(--danger-200);
  --danger-ring: var(--danger-400);
  --danger-input: var(--danger-50);
  --danger-border: var(--danger-400);
  --danger-border-hover: var(--danger-600);
  --danger-foreground: var(--primary-50);
  --danger-foreground-active: var(--danger-100);
  --danger-foreground-hover: var(--danger-100);
  --danger-foreground-muted: var(--danger-300);
  --danger-foreground-input: var(--danger-800);
  --danger-foreground-input-hover: var(--danger-900);

  --success: var(--success-600);
  --success-active: var(--success-800);
  --success-hover: var(--success-700);
  --success-muted: var(--success-200);
  --success-ring: var(--success-400);
  --success-input: var(--success-50);
  --success-border: var(--success-400);
  --success-border-hover: var(--success-600);
  --success-foreground: var(--primary-50);
  --success-foreground-active: var(--success-100);
  --success-foreground-hover: var(--success-100);
  --success-foreground-muted: var(--success-400);
  --success-foreground-input: var(--success-800);
  --success-foreground-input-hover: var(--success-900);

  --warning: var(--warning-600);
  --warning-active: var(--warning-800);
  --warning-hover: var(--warning-700);
  --warning-muted: var(--warning-200);
  --warning-ring: var(--warning-400);
  --warning-input: var(--warning-50);
  --warning-border: var(--warning-400);
  --warning-border-hover: var(--warning-600);
  --warning-foreground: var(--primary-50);
  --warning-foreground-active: var(--warning-100);
  --warning-foreground-hover: var(--warning-100);
  --warning-foreground-muted: var(--warning-400);
  --warning-foreground-input: var(--warning-800);
  --warning-foreground-input-hover: var(--warning-900);

  --chart-1: var(--info-500);
  --chart-2: var(--info-600);
  --chart-3: var(--info-700);
  --chart-4: var(--info-800);
  --chart-5: var(--info-900);
}
.dark {
  --background: var(--mono-950);
  --foreground: var(--mono-50);
  --muted: var(--mono-800);
  --muted-foreground: var(--mono-300);

  --card: var(--primary-400);
  --card-hover: var(--primary-600);
  --card-active: var(--primary-600);
  --card-foreground: var(--primary-100);
  --card-foreground-hover: var(--primary-200);
  --card-foreground-active: var(--primary-200);

  --popover: var(--mono-900);
  --popover-hover: var(--mono-800);
  --popover-active: var(--mono-800);
  --popover-foreground: var(--mono-200);
  --popover-foreground-hover: var(--mono-100);
  --popover-foreground-active: var(--mono-100);

  --primary: var(--primary-500);
  --primary-active: var(--primary-700);
  --primary-hover: var(--primary-600);
  --primary-muted: var(--primary-200);
  --primary-ring: var(--primary-400);
  --primary-input: var(--primary-50);
  --primary-border: var(--primary-400);
  --primary-border-hover: var(--primary-600);
  --primary-foreground: var(--primary-50);
  --primary-foreground-active: var(--primary-100);
  --primary-foreground-hover: var(--primary-100);
  --primary-foreground-muted: var(--primary-400);
  --primary-foreground-input: var(--primary-800);
  --primary-foreground-input-hover: var(--primary-900);

  --secondary: var(--primary-50);
  --secondary-active: var(--primary-600);
  --secondary-hover: var(--primary-200);
  --secondary-muted: var(--primary-200);
  --secondary-ring: var(--primary-400);
  --secondary-input: var(--primary-50);
  --secondary-border: var(--primary-300);
  --secondary-border-hover: var(--primary-800);
  --secondary-foreground: var(--primary-800);
  --secondary-foreground-active: var(--primary-25);
  --secondary-foreground-hover: var(--primary-800);
  --secondary-foreground-muted: var(--primary-400);
  --secondary-foreground-input: var(--primary-500);
  --secondary-foreground-input-hover: var(--primary-600);

  --mono: var(--mono-500);
  --mono-active: var(--mono-700);
  --mono-hover: var(--mono-600);
  --mono-muted: var(--mono-200);
  --mono-ring: var(--mono-400);
  --mono-input: var(--mono-50);
  --mono-border: var(--mono-400);
  --mono-border-hover: var(--mono-600);
  --mono-foreground: var(--mono-50);
  --mono-foreground-active: var(--mono-100);
  --mono-foreground-hover: var(--mono-100);
  --mono-foreground-muted: var(--mono-400);
  --mono-foreground-input: var(--mono-800);
  --mono-foreground-input-hover: var(--mono-900);

  --danger: var(--danger-500);
  --danger-active: var(--danger-700);
  --danger-hover: var(--danger-600);
  --danger-muted: var(--danger-200);
  --danger-ring: var(--danger-400);
  --danger-input: var(--danger-50);
  --danger-border: var(--danger-400);
  --danger-border-hover: var(--danger-600);
  --danger-foreground: var(--danger-50);
  --danger-foreground-active: var(--danger-100);
  --danger-foreground-hover: var(--danger-100);
  --danger-foreground-muted: var(--danger-400);
  --danger-foreground-input: var(--danger-800);
  --danger-foreground-input-hover: var(--danger-900);

  --success: var(--success-500);
  --success-active: var(--success-700);
  --success-hover: var(--success-600);
  --success-muted: var(--success-200);
  --success-ring: var(--success-400);
  --success-input: var(--success-50);
  --success-border: var(--success-400);
  --success-border-hover: var(--success-600);
  --success-foreground: var(--success-50);
  --success-foreground-active: var(--success-100);
  --success-foreground-hover: var(--success-100);
  --success-foreground-muted: var(--success-400);
  --success-foreground-input: var(--success-800);
  --success-foreground-input-hover: var(--success-900);

  --warning: var(--warning-500);
  --warning-active: var(--warning-700);
  --warning-hover: var(--warning-600);
  --warning-muted: var(--warning-200);
  --warning-ring: var(--warning-400);
  --warning-input: var(--warning-50);
  --warning-border: var(--warning-400);
  --warning-border-hover: var(--warning-600);
  --warning-foreground: var(--warning-50);
  --warning-foreground-active: var(--warning-100);
  --warning-foreground-hover: var(--warning-100);
  --warning-foreground-muted: var(--warning-400);
  --warning-foreground-input: var(--warning-800);
  --warning-foreground-input-hover: var(--warning-900);

  --chart-1: var(--info-500);
  --chart-2: var(--info-600);
  --chart-3: var(--info-700);
  --chart-4: var(--info-800);
  --chart-5: var(--info-900);
}

::selection {
  color: hsl(var(--primary-foreground));
  background: hsl(var(--primary));
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

html {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
