@tailwind base;
@tailwind components;
@tailwind utilities;

body:before {
  @apply content-[''] fixed -z-[999] w-full h-1/2 bottom-0 bg-stone-400 dark:bg-stone-900;
}

html:before {
  @apply content-[''] fixed -z-[999] w-full h-1/2 top-0 bg-amber-500;
  &.dark {
    @apply bg-amber-600;
  }
}

body {
  @apply bg-stone-200 dark:bg-stone-800
}

.header {
  @apply text-amber-200 dark:text-amber-100;
}

.lightModeText {
  @apply text-amber-950 dark:text-amber-50;
}

.sidebar {
  @apply bg-gradient-to-b from-amber-500 to-amber-700 text-amber-950 dark:bg-gradient-to-b dark:from-amber-600 dark:to-amber-800 dark:text-amber-50;
}

.footer {
  @apply bg-gradient-to-b from-stone-200 to-stone-400 text-stone-500 dark:bg-gradient-to-b dark:from-stone-800 dark:to-stone-900 dark:text-stone-400;
}
