@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* remove annoying up/down buttons in number inputs */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    @apply appearance-none m-0;
  }
  input[type='number'] {
    appearance: textfield; /* Firefox */
  }

  * {
    @apply border-primary-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  :root {
    --radius: 0.5rem;
  }
}

@layer components {
}

:root {
  /* neutral*/
  --neutral-25: 0 0% 99%;
  --neutral-50: 0 0% 98%;
  --neutral-100: 0 0% 96%;
  --neutral-200: 0 0% 90%;
  --neutral-300: 0 0% 83%;
  --neutral-400: 0 0% 64%;
  --neutral-500: 0 0% 45%;
  --neutral-600: 0 0% 32%;
  --neutral-700: 0 0% 25%;
  --neutral-800: 0 0% 15%;
  --neutral-900: 0 0% 9%;
  --neutral-925: 0 0% 7%;
  --neutral-950: 0 0% 4%;

  /* Blurple Scale */
  --primary-25: 264 100% 99%;
  --primary-50: 258 100% 98%;
  --primary-100: 261 100% 96%;
  --primary-200: 259 100% 93%;
  --primary-300: 259 100% 87%;
  --primary-400: 259 100% 80%;
  --primary-500: 258 100% 71%;
  --primary-600: 262 100% 63%;
  --primary-700: 267 100% 53%;
  --primary-800: 267 100% 45%;
  --primary-900: 264 100% 36%;
  --primary-925: 258 100% 27%;
  --primary-950: 258 100% 15%;

  /* warning scale */
  --warning-50: 48 100% 96%;
  --warning-100: 48 96% 89%;
  --warning-200: 48 97% 77%;
  --warning-300: 46 97% 65%;
  --warning-400: 43 96% 56%;
  --warning-500: 38 92% 50%;
  --warning-600: 32 95% 44%;
  --warning-700: 26 90% 37%;
  --warning-800: 23 83% 31%;
  --warning-900: 22 78% 26%;
  --warning-950: 21 92% 14%;

  /* success scale */
  --success-50: 78 92% 95%;
  --success-100: 80 89% 89%;
  --success-200: 81 88% 80%;
  --success-300: 82 85% 67%;
  --success-400: 83 78% 55%;
  --success-500: 84 81% 44%;
  --success-600: 85 85% 35%;
  --success-700: 86 78% 27%;
  --success-800: 86 69% 23%;
  --success-900: 88 61% 20%;
  --success-950: 89 80% 10%;

  /* danger scale */
  --danger-50: 0 86% 97%;
  --danger-100: 0 93% 94%;
  --danger-200: 0 96% 89%;
  --danger-300: 0 94% 82%;
  --danger-400: 0 91% 71%;
  --danger-500: 0 84% 60%;
  --danger-600: 0 72% 51%;
  --danger-700: 0 74% 42%;
  --danger-800: 0 70% 35%;
  --danger-900: 0 63% 31%;
  --danger-950: 0 75% 15%;

  --foreground: 262.1 50% 5%;
  --background: 262.1 5% 90%;

  --card: var(--neutral-100);
  --card-hover: var(--neutral-200);
  --card-active: var(--neutral-200);
  --card-foreground: var(--neutral-900);
  --card-foreground-hover: var(--neutral-800);
  --card-foreground-active: var(--neutral-800);

  --popover: var(--neutral-100);
  --popover-hover: var(--neutral-200);
  --popover-active: var(--neutral-200);
  --popover-foreground: var(--neutral-900);
  --popover-foreground-hover: var(--neutral-800);
  --popover-foreground-active: var(--neutral-800);

  --primary: var(--primary-700);
  --primary-active: var(--primary-600);
  --primary-hover: var(--primary-800);
  --primary-foreground: var(--primary-100);
  --primary-foreground-active: var(--primary-50);
  --primary-foreground-hover: var(--primary-200);
  --primary-border: var(--primary-400);
  --primary-input: var(--primary-500);
  --primary-ring: var(--primary-500);
  --primary-muted: var(--primary-400);
  --primary-muted-foreground: var(--primary-600);

  --secondary: var(--primary-100);
  --secondary-active: var(--primary-50);
  --secondary-hover: var(--primary-200);
  --secondary-foreground: var(--primary-900);
  --secondary-foreground-active: var(--primary-800);
  --secondary-foreground-hover: var(--primary-950);
  --secondary-border: var(--primary-400);
  --secondary-input: var(--primary-500);
  --secondary-ring: var(--primary-500);
  --secondary-muted: var(--primary-600);
  --secondary-muted-foreground: var(--primary-400);

  --neutral: var(--neutral-600);
  --neutral-active: var(--neutral-500);
  --neutral-hover: var(--neutral-700);
  --neutral-foreground: var(--neutral-50);
  --neutral-foreground-hover: var(--neutral-100);
  --neutral-foreground-active: var(--neutral-200);
  --neutral-border: var(--neutral-400);
  --neutral-input: var(--neutral-500);
  --neutral-ring: var(--neutral-500);
  --neutral-muted: var(--neutral-400);
  --neutral-muted-foreground: var(--neutral-600);

  --danger: var(--danger-700);
  --danger-active: var(--danger-600);
  --danger-hover: var(--danger-800);
  --danger-foreground: var(--primary-100);
  --danger-foreground-active: var(--danger-50);
  --danger-foreground-hover: var(--danger-200);
  --danger-ring: var(--danger-500);
  --danger-input: var(--danger-500);
  --danger-border: var(--danger-400);
  --danger-muted: var(--danger-400);
  --danger-muted-foreground: var(--danger-600);

  --success: var(--success-700);
  --success-active: var(--success-600);
  --success-hover: var(--success-800);
  --success-foreground: var(--primary-100);
  --success-foreground-active: var(--success-50);
  --success-foreground-hover: var(--success-200);
  --success-ring: var(--success-500);
  --success-input: var(--success-500);
  --success-border: var(--success-400);
  --success-muted: var(--success-400);
  --success-muted-foreground: var(--success-600);

  --warning: var(--warning-700);
  --warning-active: var(--warning-600);
  --warning-hover: var(--warning-800);
  --warning-foreground: var(--primary-100);
  --warning-foreground-active: var(--warning-50);
  --warning-foreground-hover: var(--warning-200);
  --warning-ring: var(--warning-500);
  --warning-input: var(--warning-500);
  --warning-border: var(--warning-400);
  --warning-muted: var(--warning-400);
  --warning-muted-foreground: var(--warning-600);

  --chart-1: var(--info-500);
  --chart-2: var(--info-600);
  --chart-3: var(--info-700);
  --chart-4: var(--info-800);
  --chart-5: var(--info-900);

  --radius: 0.5rem;
  --ring-offset: 4px;
}
.dark {
  --background: 262.1 50% 5%;
  --foreground: 262.1 5% 90%;

  --card: var(--neutral-900);
  --card-hover: var(--neutral-800);
  --card-active: var(--neutral-800);
  --card-foreground: var(--neutral-100);
  --card-foreground-hover: var(--neutral-200);
  --card-foreground-active: var(--neutral-200);

  --popover: var(--neutral-900);
  --popover-hover: var(--neutral-800);
  --popover-active: var(--neutral-800);
  --popover-foreground: var(--neutral-100);
  --popover-foreground-hover: var(--neutral-200);
  --popover-foreground-active: var(--neutral-200);

  --primary-border: var(--primary-400);
  --primary-input: var(--primary-500);
  --primary-ring: var(--primary-500);
  --primary-muted: var(--primary-600);
  --primary-muted-foreground: var(--primary-400);

  --secondary-border: var(--primary-400);
  --secondary-input: var(--primary-400);
  --secondary-ring: var(--primary-400);
  --secondary-muted: var(--secondary-400);
  --secondary-muted-foreground: var(--secondary-600);

  --neutral-border: var(--neutral-400);
  --neutral-input: var(--neutral-500);
  --neutral-ring: var(--neutral-500);
  --neutral-muted: var(--neutral-600);
  --neutral-muted-foreground: var(--neutral-400);

  --danger-ring: var(--danger-500);
  --danger-input: var(--danger-500);
  --danger-border: var(--danger-400);
  --danger-muted: var(--danger-600);
  --danger-muted-foreground: var(--danger-400);

  --success-ring: var(--success-500);
  --success-input: var(--success-500);
  --success-border: var(--success-400);
  --success-muted: var(--success-600);
  --success-muted-foreground: var(--success-400);

  --warning-ring: var(--warning-500);
  --warning-input: var(--warning-500);
  --warning-border: var(--warning-400);
  --warning-muted: var(--warning-600);
  --warning-muted-foreground: var(--warning-400);

  --chart-1: var(--info-500);
  --chart-2: var(--info-600);
  --chart-3: var(--info-700);
  --chart-4: var(--info-800);
  --chart-5: var(--info-900);

}
