@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* remove annoying up/down buttons in number inputs */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    @apply appearance-none m-0;
  }
  input[type='number'] {
    appearance: textfield; /* Firefox */
  }
}

@layer base {
  body {
    scrollbar-gutter: stable;
    overflow-y: scroll;
  }
}

@layer components {

  .footer {
    @apply bg-base-200;
  }
}
