name: CI/CD

on:
  push:
    branches:
      - main
    # Don't run on new release from release please PR
    tags-ignore:
      - 'v*'

concurrency:
  group: 'deploy'
  cancel-in-progress: false

jobs:
  validate_build:
    name: Validation
    permissions:
      contents: read
      pull-requests: write
    uses: ./.github/workflows/validation.yml

  version_management:
    name: Release Managed
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    needs: [validate_build]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prep Release
        id: generate_release
        uses: google-github-actions/release-please-action@v4
        with:
          # This is so that actions can run on the release PR
          token: ${{ secrets.ACTION_GITHUB_TOKEN }}
          # example, `main` or `1.x`
          target-branch: ${{ github.ref_name }}
          release-type: 'node'
          # ensure all committed files are considered for release
          path: '.'

      - name: 'Output Step'
        env:
          NEW_TAG: ${{ steps.generate_release.outputs.tag_name }}
        run: echo "new tag [$NEW_TAG] created for $REPO_NAME"

  deploy_reports:
    name: Reports Deployed
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
      deployments: write
    needs: [version_management]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Install pnpm
        uses: pnpm/action-setup@v2.4.0
        with:
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: Setup pnpm cache
        uses: actions/cache@v4
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Run pnpm install
        run: pnpm install

      - name: Run pnpm report
        run: pnpm report

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './reports'

      - name: Deploy to reports to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

  staging:
    name: App Deployed to Staging
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
      deployments: write
    needs: [version_management]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Install pnpm
        uses: pnpm/action-setup@v2.4.0
        with:
          run_install: false

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: Setup pnpm cache
        uses: actions/cache@v4
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Run pnpm install
        run: pnpm install

      - name: Run pnpm build:dev
        run: pnpm build:dev

      - name: Deploy app to Cloudflare Pages Develop
        uses: nader-eloshaiker/cloudlfare-pages-action@v1.0.0
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: screengeometry
          directory: ./dist
          branch: develop
          environmentName: screengeometry (Develop)
          wranglerVersion: '3'
          gitHubToken: ${{ secrets.ACTION_GITHUB_TOKEN }}
