name: "Design System Test Task"

on: workflow_call

jobs:
  designsystem-test:
    name: Design System Testing
    runs-on: ubuntu-latest
    steps:
      # - name: Checkout
      #   uses: actions/checkout@v4

      # - name: Install pnpm
      #   uses: pnpm/action-setup@v4.1.0
      #   with:
      #     run_install: false

      # - name: Install Node.js
      #   uses: actions/setup-node@v4
      #   with:
      #     node-version-file: ".nvmrc"
      #     cache: "pnpm"

      # - name: Install dependencies
      #   run: pnpm install

      - name: Run Chromatic
        uses: chromaui/action@latest
        with:
          # ⚠️ Make sure to configure a `CHROMATIC_PROJECT_TOKEN` repository secret
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          autoAcceptChanges: "main"
          workingDir: ./packages/lib-ui
