name: "Deploy Coverage Task"

on: workflow_call

jobs:
  deploy-coverage:
    name: Deploying Coverage Reports
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Download unit test workflow run artifacts
        uses: actions/download-artifact@v4
        with:
          name: unit-code-coverage-report
          path: coverage/unit/

      # - name: Download storybook test workflow run artifacts
      #   uses: actions/download-artifact@v4
      #   with:
      #     name: storybook-code-coverage-report
      #     path: coverage/storybook/

      - name: Display structure of downloaded files
        run: ls -R coverage/

      - name: Upload unit test coverage reports to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: nader-eloshaiker/screen-geometry-app
          directory: coverage/unit/
          flags: unit

      # - name: Upload storybook test coverage reports to Codecov
      #   uses: codecov/codecov-action@v4
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }}
      #     slug: nader-eloshaiker/screen-geometry-app
      #     directory: coverage/storybook/
      #     flags: storybook
