name: "Deploy Coverage Task"

on: workflow_call

jobs:
  deploy-coverage:
    name: Deploying Coverage Reports
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Download unit test workflow run artifacts
        uses: actions/download-artifact@v4
        with:
          name: unit-code-coverage-report
          path: ./coverage

      # - name: Download storybook test workflow run artifacts
      #   uses: actions/download-artifact@v4
      #   with:
      #     name: storybook-code-coverage-report
      #     path: coverage/storybook/

      - name: Display structure of downloaded files
        run: ls -Rl

      - name: Upload web unit test coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          name: apps/web
          verbose: true
          files: ./unit/web/coverage-final.json
          flags: web

      # NOTE: remove for testing
      # - name: Upload server unit test coverage reports to Codecov
      #   uses: codecov/codecov-action@v5
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }}
      #     slug: nader-eloshaiker/screen-geometry-app/apps/server
      #     directory: ./apps/server/coverage/unit/
      #     flags: server

      # NOTE: remove for testing
      # - name: Upload lib-api unit test coverage reports to Codecov
      #   uses: codecov/codecov-action@v5
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }}
      #     slug: nader-eloshaiker/screen-geometry-app/apps/lib-api
      #     directory: ./packages/lib-api/coverage/unit/
      #     flags: lib-api

      # NOTE: remove for testing
      # - name: Upload lib-ui unit test coverage reports to Codecov
      #   uses: codecov/codecov-action@v5
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }}
      #     slug: nader-eloshaiker/screen-geometry-app/apps/lib-ui
      #     directory: ./packages/lib-ui/coverage/unit/
      #     flags: lib-ui

      # - name: Upload storybook test coverage reports to Codecov
      #   uses: codecov/codecov-action@v4
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }}
      #     slug: nader-eloshaiker/screen-geometry-app
      #     directory: coverage/storybook/
      #     flags: storybook
