name: Validation

on:
  push:
    branches:
      # - '*' # matches every branch that doesn't contain a '/'
      # - '*/*' # matches every branch containing a single '/'
      - "**" # matches every branch
      - "!main" # excludes main as it is called by another workflow
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/task-lint.yml
    secrets: inherit

  build:
    name: Build
    uses: ./.github/workflows/task-build.yml
    secrets: inherit

  unit-test:
    name: Unit Tests
    uses: ./.github/workflows/task-test-unit.yml
    secrets: inherit

  component-test:
    name: Component Tests
    uses: ./.github/workflows/task-test-component.yml
    secrets: inherit

  e2e-test:
    name: E2E Tests
    uses: ./.github/workflows/task-test-e2e.yml
    secrets: inherit

  changed-files:
    runs-on: ubuntu-latest
    name: changed-files
    outputs:
      all_changed_files: ${{ steps.changed-files.outputs.all_changed_files }}
      any_changed: ${{ steps.changed-files.outputs.any_changed }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v46
        with:
          files: |
            packages/lib-ui/src/components/**
  designsystem-test:
    name: Run Design System Testing
    needs: [changed-files]
    if: ${{ needs.changed-files.outputs.any_changed == 'true' }}
    uses: ./.github/workflows/task-test-designsystem.yml
    secrets: inherit
